@import "./_flex-mixin";

.flexable{
  @include flexbox;
  @include flex-direction(column);
  @include flex-wrap(nowrap);
  @include justify-content(space-between);

  &-row{
    @include flexbox;
    @include flex-direction(row);
    @include flex-wrap(nowrap);
    width: 100%;

    &-cell{
      @include align-items(center);
      @include flexbox;
      @include flex-wrap(nowrap);
      @include flex-grow(1);
      @include flex-basis(0);
      @include flex-direction(row);
      @include justify-content(flex-end);
      border: 1px solid black;
      padding: 0.5em;
      word-break: break-all;
      word-wrap: break-word;

      &.column-header, &.group-header-row, &.row-name{
        @include justify-content(flex-start);
        font-weight: bold;
      }
    }
  }
}

.flexable-vertical-scroll-overlay {
  overflow-x: hidden; /*todo: remove once implement horizontal scroll behavior*/
  overflow-y: overlay;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

/* utility styles */
@for $i from 1 through 10 {
  .utility-flex-grow-#{$i} {
    @include flex-grow($i);
  }
}

/* custom styles: TODO: move into example */

.column-header, .group-header-row {
  background: lightblue;
}

.row-name {
  background: #ffbea6;
}

.row-name, .column-header, .group-header-row {
  @include justify-content(flex-start);
  font-weight: bold;
}